*{
    margin:0;
    padding: 0;
    
    
}
/*medidas de la imgen de la cabezera*/
.imgcab{
    width: 100%;
    height: 140px;
}
/*medida del alto del logo*/
.imglogo{
    width: 40px;
}
/*separacion del lado izquierdo de la pantalla y separa del lado derecho de los iconos*/
h1{
   padding-left: 200px; 
   padding-right: 100px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
   
}
/*estilos de la lista*/
ul{
    display: inline-flex;
    padding: 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
    display: flexbox;
    width: 100%;
    right: 0px;
    
}
/*estilo de cada articulo de la lista, sin clases*/
li{
    padding-left: 5px;
    list-style: none;
    align-items: center;
}
li .fa-brands:hover{
    color: aqua;
}
/*se le da un ancho al icono y se le aleja de los iconos a izquierda y derecha para lograr la poscion requerida*/
.busqueda{
    padding: 10px;
    padding-left: 70px;
    padding-right: 20px;
}
/*se aleja del icono para lograr la posicion requerida*/
.redes{
    padding-left: 50px;
}
/*estilos del primer container*/
.container1{
    width: 640px;
    height: 600px;
    justify-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 100px;
}
/*estilos del sub_container1 (se le aplica grid para las columnas)*/
.sub_container1{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    
}
/*estilos del sub_container2 (se le aplica grid para las columnas y gap para separarlas)*/
.sub_container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
/*se les da altura y ancho a las imagenes del container1*/
.img2{
    width: 200px;
    height: 200px;
}
/*se le da bordeado a los articulos al pasar el cursor por encima*/
.articulo1:hover{
    border: 3px solid black;   
}
.articulo2:hover{
    border: 3px solid black;
}
.articulo3:hover{
    border: 3px solid black;
}
.articulo4:hover{
    border: 3px solid black;
}
.articulo5:hover{
    border: 3px solid black;
}
/*se le ordena al articulo5 que rellene las 2 columnas del sub_container2*/
.articulo5{
    grid-column: 1/3;
}
/*se le da estilo a parrafos*/
.parrafo{
    background-color: rgba(0, 0, 0, 0.639);
    color: white;
    padding: 10px;
    
}
.container1 .subcontainer2 .articulo5 > .img2 {
    column-gap: 1/3;
}
/*se le da estilo al container2*/
.container2{
    width: 640px;
    height: auto;
    
    margin: auto;
    display: grid;
    grid-template-columns: 25% 50% 25% ;
    
    
    margin-bottom: 100px;
}
/*se le da estilo al subcontainer1*/
.subcontainer1{
    
    display: grid;
}
/*se le da estilo al subcontainer2*/
.subcontainer2{
    
    display: grid;
}
/*se le da ancho y alto a las imagenes del subcontainer1*/
.imgsub1{
    width: 150px;
    height: 150px;
}
/*se le da ancho y alto a las imagenes del subcontainer3*/
.imgsub3{
    width: 110px;
    height: 110px;
}
/*se le da estilo al subcontainer3*/
.subcontainer3{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    justify-items: center;
}
/*se le da color a la letra de los enlaces y se aleja del texto para lograr la posicion deseada*/
a{
    padding-left: 140px;
    color:#526DFF;   
}
/*se le da estilo de letra y color a la letra de los subtitulos de hijo2*/
.hijo2 > h2{
    color:#526DFF;
    font-family: Arial, Helvetica, sans-serif;
}

/*se le da estilos al footer*/
footer{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: 45% 55%;
    justify-items: center;
    background-color: black;
    color: white;
    
}
.footer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 35px;
}
.footer2{
    align-self: center;
    margin: 50px;    
}
.footer1 .img5 .imgfoo{
    row-gap: 2/4;
    
}
/*se le da estilos a las imagenes del footer*/
.imgfoo{
    width: 90px;
    height: 90px;
}
.icon >.fa-brands {
    padding: 10px;
}